name: Tests
on:
  push:
    branches: [backend, frontend]
  pull_request:
    branches: [main, backend, frontend]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/build
      - name: Run tests
        run: npm run test